p  {
    margin-top: 1.00em;
    margin-bottom: 1.00em;
}
h1 {
    font-size: 2.00em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
}
h2 {
    font-size: 1.50em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}
h3 {
    font-size: 1.17em;
    margin-top: 1.00em;
    margin-bottom: 1.00em;
    font-weight: bold;
}
h4 {
    font-size: 1.00em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    font-weight: bold;
}
h5 {
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    font-weight: bold;
}
h6 {
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    font-weight: bold;
}
b, strong {
    font-weight: bold;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
i, em, address {
    font-style: italic;
}
u, ins {
    text-decoration: underline;
}
s, strike, del {
    text-decoration: line-through;
}
